<!DOCTYPE html>
<html>

<head>
    <title>
        Instagram Poll
    </title>
    <link rel="stylesheet" type="text/css" href="/css/poll.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>

</body>

<center>Instagram poll Add Question</center>
<div class="container">


    <div class="instagram_box">

        <form action="/addquestion" method="POST" style="margin-left: 10px;">
            <div class="form-group">
                <label for="exampleInputEmail1">Enter Question</label>
                <input type="text" class="form-control" id="question" name="question" checked style="width: 50%;"
                    required>

            </div>
            <label for="exampleInputEmail1">Choose Your Answer</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="exampleRadios1" value="YES" checked>
                <label class="form-check-label" for="exampleRadios1">
                    YES
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="exampleRadios2" value="NO">
                <label class="form-check-label" for="exampleRadios2">
                    NO
                </label>
            </div>

            <center><button type="submit" class="btn btn-primary">Submit</button></center>
            <br>
            <br>
        </form>

    </div>
    <center><a href="/poll">Check Polls</a></center>
</div>

</html>